div.container{
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  
  
}
div.headlinefirstpage{

  font-size: xx-large;
  text-align: center;
  color:darkblue;
  font-weight: 600;

}
div.searchbox{
  text-align: right;
  margin-top: 2%;
  

}
div.searchbox input[type="text"]{
  padding: 10px;
  width: 25%;
  border-radius: 10px;
  border: 2px solid gray;
  
}
.buttons1 {
  transition-duration: 0.4s;
  background-color: white;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
}

.buttons1:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.buttons2 {
  transition-duration: 0.4s;
  background-color: white;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
}

.buttons2:hover {
  background-color: #f44336;
  color: white;
}
.buttons3 {
  transition-duration: 0.4s;
  background-color: white;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
}

.buttons3:hover {
  background-color: #555555;
  color: white;
}
.buttons4 {
  transition-duration: 0.4s;
  background-color: white;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
}

.buttons4:hover {
  background-color: #555555;
  color: white;
}
img{
  
  position: relative; 
  width: 44px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  
}
.gridclass{
  display: flex;
  
  gap: 0.5em;

}
.containercard
{
  
  border-radius: 10px;
  background-color: #1e1e40;
  color: white;
  cursor: pointer;
}
.headingcard
{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
}
.belowheadingcard
{
  padding-top: 10px;
  text-align: center;
  font-weight: 400;
}
.icon1,.icon2
{
  padding-top: 10px;
  display: grid;
  grid-template-rows: 50% 50% ;
  padding-bottom: 50px;

}
.up{
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.down{
  text-align: center;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  
}
.down>img{
  width: 50px;
  height: 40px;
  padding-bottom: 20px;
}
.btwicon
{
  padding-top: 20px;
  display: grid;
  text-align: center;
}
.mid{
  border-radius: 4px;
  margin-top: 10px;
  background-color: rgb(86, 156, 133);
  padding: 1px;
}
.all{
  margin-top: 5%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  
}
.flagclass{
  position: absolute;
  z-index: 10;
  margin-top: -20px;
}
.top{
  text-align: center;
  background-color:rgb(203, 216, 241);
  padding: 25px;
  font-weight: 600;
  border-bottom:2px solid black;
  border-radius: 5px;
}
.video
{
  text-align: center;
  margin-top: 5%;

}
.controls
{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
}
@media screen and (max-width: 1025px) {
  .all {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33% ;
    
  }
  
}
@media screen and (max-width: 769px) {
  .all {
    display: grid;
    grid-template-columns: 50% 50%
    
  }
  
}
@media screen and (max-width: 430px) {
  .all {
    display: block;
    
  }
  
}
@media screen and (max-width: 430px) {
  .containercard {
  
    margin-top: 3%;
    
  }
  
}






